* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2C2C2C;
}

#root {
  display: flex;
  font-family: 'Arial', sans-serif;
  background-color: #2C2C2C;
}
  
  .content {
    margin-left: 15vw;
    padding: 1rem;
  }